## Python Basics String

#### Format string

In [12]:
price = 34
name = "Prathamesh"

In [13]:
print('this is {} and cost me {:.2f}'.format(name,price))

this is Prathamesh and cost me 34.00

#### User input

In [15]:
a = input("enter your name: ")

enter your name: Prathamesh

#### Try except finally

In [16]:
print(x)

NameError: name 'x' is not defined

In [17]:
try:
    print(x)
except:
    print("prathamesh error")

prathamesh error

In [19]:
5/0

ZeroDivisionError: division by zero

###### try except else

In [25]:
try:
    a= int(input("enter the number"))
    b = int(input("enter the number"))
    c = a/b
    
except NameError:
    print("there is")
except ZeroDivisionError:
    print("value Other than zero")
else:
    print(c)

enter the number5
enter the number0
value Other than zero

###### try else finally

In [27]:
try:
    a= int(input("enter the number"))
    b = int(input("enter the number"))
    c = a/b
    
except NameError:
    print("there is")
except ZeroDivisionError:
    print("value Other than zero")
else:
    print(c)
    
finally:
    print('Run again')

enter the number8
enter the number0
value Other than zero
Run again

In [28]:
try:
    a= int(input("enter the number"))
    b = int(input("enter the number"))
    c = a/b
    
except NameError:
    print("there is")
except ZeroDivisionError:
    print("value Other than zero")
except Exception:
    print("other error")
else:
    print(c)
    
finally:
    print('Run again')

enter the number3
enter the numberpra
other error
Run again

### Custom exception

In [32]:
class error(Exception):
    pass
class dob_error(error):
    pass
class custom(error):
    pass

In [35]:
year = int(input("enter the age"))

age = 2021 - year

try:
    if age > 20 and age <30:
        print("eligible")
        
    else:
        raise dob_error
except dob_error:
    print("please try next year")

enter the age1988
please try next year

### Python Assert

In [41]:
try:
    a= int(input("enter number"))
    assert a/2!=0
    print("right number")
except AssertionError:
    print('wrong number')

enter number12
right number

# Reg Ex

1. findall	Returns a list containing all matches
2. search	Returns a Match object if there is a match anywhere in the string
3. split	Returns a list where the string has been split at each match
4. sub	Replaces one or many matches with a string

In [42]:
import re

In [87]:
a = "i am a boy and my name is prathamesh bane my email pratha1536839793. edxxxxxxxxx im studying in stevens #zentlogy ! institute of technology."

In [52]:
print(re.findall("[a-b]",a))

#Find all lower case characters alphabetically between "a" and "b":

['a', 'a', 'b', 'a', 'a', 'a', 'a', 'b', 'a', 'a', 'a', 'a']

In [60]:
print(re.findall("ra....e" ,a))

#Search for a sequence that starts with "RA", followed by FOUR (any) characters, and an "E"

['rathame']

In [63]:
x = re.findall("^i",a)

#Check if the string starts with 'i':


if x:
    print('yes')
    
else:
    print('no')

yes

In [66]:
x = re.findall(".$",a)

#Check if the string ends with '.':


if x:
    print('yes')
    
else:
    print('no')

yes

In [68]:
x = re.findall("ra*",a)

#Check if the string contains "ai" followed by 0 or more "x" characters:

print(x)
if x:
    print('yes')
    
else:
    print('no')

['ra', 'ra']
yes

In [69]:
x= re.findall("rat+",a)

#Check if the string contains "ra" followed by 1 or more "t" characters:


print(x)
if x:
    print("yes")
else:
    print("no")

['rat', 'rat']
yes

In [74]:
x = re.findall("edx{5}",a)

#Check if the string contains "ed" followed by exactly five "x" characters:


print(x)

if x:
    print('yes')
    
else:
    print('no')

['edxxxxx']
yes

In [77]:
x = re.findall("prathamesh|technology",a)

#Check if the string contains either "prathamesh" or "technology":

print(x)

if x:
    print("yes")
else:
    print("no")

['prathamesh', 'technology']
yes

In [80]:
x = re.search("\Ai",a)

print(x)

#Returns a match if the specified characters are at the beginning of the string

if x:
    print("yes")
else:
    print("no")

<re.Match object; span=(0, 1), match='i'>
yes

In [83]:
x = re.search("technology.\Z",a)

#Returns a match if the specified characters are at the end of the string

print(x)

if x:
    print("yes")
    
else:
    print("no")

<re.Match object; span=(130, 141), match='technology.'>
yes

In [85]:
x = re.search(r"\blogy",a)


print(x)

#Check if "logy" is present at the beginning of a WORD:


if x:
    print("yes")
else:
    print("no")

None
no

In [89]:
x = re.search(r"logy\b",a)

#Check if "logy" is present at the end of a WORD:

print(x)

if x:
    print("yes")
else:
    print("no")

<re.Match object; span=(109, 113), match='logy'>
yes

In [90]:
x = re.search(r"\Blogy",a)

print(x)

#Check if "logy" is present, but NOT at the beginning of a word

<re.Match object; span=(109, 113), match='logy'>

In [91]:
x = re.search(r"logy\B",a)

print(x)
#Check if "logy" is present, but NOT at the end of a word

None

In [92]:
x = re.search("\d",a)

print(x)
#Check if the string contains any digits (numbers from 0-9):

<re.Match object; span=(57, 58), match='1'>

In [93]:
x = re.search("\D",a)

print(x)
#Return a match at every no-digit character:

<re.Match object; span=(0, 1), match='i'>

[arn]	Returns a match where one of the specified characters (a, r, or n) are present	
[a-n]	Returns a match for any lower case character, alphabetically between a and n	
[^arn]	Returns a match for any character EXCEPT a, r, and n	
[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present	
[0-9]	Returns a match for any digit between 0 and 9	
[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59	
[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case	
[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [96]:
x = re.split("\s",a)
#Split the string at every white-space character:


print(x)

['i', 'am', 'a', 'boy', 'and', 'my', 'name', 'is', 'prathamesh', 'bane', 'my', 'email', 'pratha1536839793.', 'edxxxxxxxxx', 'im', 'studying', 'in', 'stevens', '#zentlogy', '!', 'institute', 'of', 'technology.']

In [97]:
x = re.split("\s",a,6)
#Split the string at every white-space character:


print(x)

['i', 'am', 'a', 'boy', 'and', 'my', 'name is prathamesh bane my email pratha1536839793. edxxxxxxxxx im studying in stevens #zentlogy ! institute of technology.']

In [101]:
x = re.sub("\s","9",a)

print(x)

#Replace every white-space character with the number 9:

i9am9a9boy9and9my9name9is9prathamesh9bane9my9email9pratha1536839793.9edxxxxxxxxx9im9studying9in9stevens9#zentlogy9!9institute9of9technology.

In [103]:
x = re.sub("\s","9",a,2)

print(x)

i9am9a boy and my name is prathamesh bane my email pratha1536839793. edxxxxxxxxx im studying in stevens #zentlogy ! institute of technology.

In [114]:
#.span() returns a tuple containing the start-, and end positions of the match.
#.string returns the string passed into the function
#.group() returns the part of the string where there was a match


x = re.search(r"\bn\w+",a)

print(x.span())
print(x.string)
print(x.group())

(18, 22)
i am a boy and my name is prathamesh bane my email pratha1536839793. edxxxxxxxxx im studying in stevens #zentlogy ! institute of technology.
name

# Python JSON

In [1]:
import json

In [5]:
x = '{"name":"prathamesh","age": 50, "school":"SIT"}'

a = json.loads(x)

print(a)

#convert json format to python dict

{'name': 'prathamesh', 'age': 50, 'school': 'SIT'}

In [6]:
x = {"name":"prathamesh","age": 50, "school":"SIT"}

a = json.dumps(x)

#python dict convert into json

print(a)

{"name": "prathamesh", "age": 50, "school": "SIT"}

# Class

In [17]:
class car:
    
    def __init__(self,brand,engine,price):
        self.brand=brand
        self.engine=engine
        self.price=price
    
    def statement(self):
        print("this is {} has {} which cost me {}".format(self.brand,self.engine,self.price))
        
c1= car("audi","x3",20)

In [18]:
c1.statement()

this is audi has x3 which cost me 20

## Inheritence

In [30]:
class car:
    
    def __init__(self,brand,engine,price):
        self.brand=brand
        self.engine=engine
        self.price=price
    
    def statement(self):
        print("this is {} has {} which cost me {}".format(self.brand,self.engine,self.price))
        
c1= car("audi","x3",20)

class truck(car):
    def ft(self,wheels):
        self.wheels=wheels
    

t1 = truck("ford","e#",50,6)

TypeError: __init__() takes 4 positional arguments but 5 were given

In [20]:
t1.brand

'ford'

In [21]:
t1.statement()

this is ford has e# which cost me 50

In [22]:
c1.statement()

this is audi has x3 which cost me 20

# Pyhton Lambda Function

In [1]:
x = lambda a,b : a+b

In [2]:
print(x(2,3))

5

In [11]:
def prathamesh(n):
    
    return lambda x,y : x+(n*y)

In [16]:
prathamesh(10)

In [17]:
print(prathamesh(10)(100,200))

2100

# Python Dictionaries

In [56]:
college = {"student":"Prathamesh","year":2, "sub":["extc","data sci"]}

In [29]:
college

{'student': 'Prathamesh', 'year': 2, 'sub': ['extc', 'data sci']}

In [25]:
print(college.get("student"))

Prathamesh

In [26]:
print(college.keys())

dict_keys(['student', 'year', 'sub'])

In [27]:
print(college.values())

dict_values(['Prathamesh', 2, ['extc', 'data sci']])

In [30]:
college.items()

#The items() method will return each item in a dictionary, as tuples in a list.

dict_items([('student', 'Prathamesh'), ('year', 2), ('sub', ['extc', 'data sci'])])

In [32]:
college["score"]=97

In [33]:
college

{'student': 'Prathamesh', 'year': 2, 'sub': ['extc', 'data sci'], 'score': 97}

In [34]:
college["score"]=79

In [35]:
college

{'student': 'Prathamesh', 'year': 2, 'sub': ['extc', 'data sci'], 'score': 79}

In [36]:
college.update({"score":90})

#add new value

In [52]:
college

{'student': 'Prathamesh', 'year': 2, 'sub': ['extc', 'data sci']}

In [53]:
college.pop('student')

##pop removes specific item whereas popitem remove last item in the list

'Prathamesh'

In [39]:
college

{'year': 2, 'sub': ['extc', 'data sci'], 'score': 90}

In [54]:
#The del keyword removes the item with the specified key name:

del college

In [55]:
college

NameError: name 'college' is not defined

In [57]:
college.clear()
#empty the entire dict

In [58]:
college

{}

## List is a collection which is ordered and changeable. Allows duplicate members.
## Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
## Set is a collection which is unordered and unindexed. No duplicate members.
## Dictionary is a collection which is ordered* and changeable. No duplicate members.

## Python Sets

In [2]:
a = {'a','b','c','d','a','b'}

print(a)

{'a', 'd', 'b', 'c'}

In [3]:
print(type(a))

<class 'set'>

In [4]:
for i in a:
    print(i)

a
d
b
c

In [5]:
a.add('z')

In [6]:
print(a)

{'c', 'z', 'd', 'a', 'b'}

In [8]:
b = {'p','q','r','s','j'}


a.update(b)

print(a)

{'q', 'c', 'z', 's', 'd', 'a', 'p', 'r', 'b', 'j'}

In [9]:
a.intersection(b)

{'j', 'p', 'q', 'r', 's'}

In [10]:
a.symmetric_difference(b)

{'a', 'b', 'c', 'd', 'z'}

In [11]:
a.symmetric_difference_update(b)

In [12]:
a.union(b)

{'a', 'b', 'c', 'd', 'j', 'p', 'q', 'r', 's', 'z'}

#The intersection_update() method will keep only the items that are present in both sets.
The intersection() method will return a new set, that only contains the items that are present in both sets.

In [13]:
a.intersection_update(b)

In [14]:
a.intersection(b)

set()

In [15]:
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

a.isdisjoint(b)

True

In [16]:
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

a.issubset(b)

True

In [21]:
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

b.issuperset(a)

True

# Python List

In [44]:
#lists are ordered, it means that the items have a defined order, and that order will not change.


a = ['as','skadbkc','isgwcb','sbicbiq','cbshbajioa']

In [23]:
#create new list

b = list(("apple", "banana", "cherry"))

In [25]:
print(a[:2])

# The search will start at index 2 (included) and end at index 5 (not included).

['as', 'skadbkc']

In [26]:
b[1]="bc"

In [27]:
b

#To change the value of a specific item, refer to the index number

['apple', 'bc', 'cherry']

In [29]:
b.insert(2,'water')

b

['apple', 'bc', 'water', 'water', 'cherry']

In [30]:
b.append("orange")

In [32]:
a.extend(b)

#extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [34]:
a.remove("apple")

a

['as',
 'skadbkc',
 'isgwcb',
 'sbicbiq',
 'cbshbajioa',
 'bc',
 'water',
 'water',
 'cherry',
 'orange',
 'bc',
 'water',
 'water',
 'cherry',
 'orange']

In [35]:
a.pop(2)

'isgwcb'

In [36]:
del a

In [37]:
a.clear()

NameError: name 'a' is not defined

In [39]:
for x in a:
    print(x)

as
skadbkc
isgwcb
sbicbiq
cbshbajioa

In [40]:

#For loop

for x in range(len(a)):
  print(a[x])

as
skadbkc
isgwcb
sbicbiq
cbshbajioa

In [42]:
#while loop

i = 0

while i < len(a):
    print(a[i])
    i = i + 1

as
skadbkc
isgwcb
sbicbiq
cbshbajioa

In [46]:
#List comprehension


[print(x) for x in a]

as
skadbkc
isgwcb
sbicbiq
cbshbajioa

[None, None, None, None, None]

In [47]:
#
c = []
for x in a:
    if "a" in x:
        c.append(x)
        
print(c)

['as', 'skadbkc', 'cbshbajioa']

In [50]:


print([x for x in a if "b" in x])

['skadbkc', 'isgwcb', 'sbicbiq', 'cbshbajioa']

In [52]:
c.sort(reverse = True)

In [54]:
a.append(b)
a.extend(b)
print(a+b)

['as', 'skadbkc', 'isgwcb', 'sbicbiq', 'cbshbajioa', ['apple', 'bc', 'water', 'water', 'cherry', 'orange'], 'apple', 'bc', 'water', 'water', 'cherry', 'orange', ['apple', 'bc', 'water', 'water', 'cherry', 'orange'], 'apple', 'bc', 'water', 'water', 'cherry', 'orange', 'apple', 'bc', 'water', 'water', 'cherry', 'orange']

# Pyhton Tuples

In [56]:
a = ('pra','ni','pu','shi')

print(a[0])

pra

In [57]:
# update tuples : for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

b = list(a)

b[0]= 'prathi'

a = tuple(b)

print(a)

('prathi', 'ni', 'pu', 'shi')